<h1>Edit this bookmark</h1>
<%= form_for [@topic, @bookmark] do |b| %>
  <div>
    <%= b.label :urls %>
    <%= b.text_field :url, :size => "50", class: 'url-box', placeholder: "#{@bookmark.url}" %>
    <br><br>
    <%= b.submit "Save", class: 'submit-button' %>
  </div>
<% end %>
