<h1>Edit Topic</h1>
<br>
<%= form_for @topic do |w| %>
  <div class="form-group">
    <%= w.label :title %>
    <%= w.text_field :title, class: 'form-control', placeholder: "#{@topic.title}" %>
    <%= w.submit "Save", class: 'submit-button' %>
  </div>
<% end %>
