@import "bookmarks";
@import "topics";

body{
  background-color: LightSteelBlue;
  color: DarkSlateGray;
}

a{
  color: DarkBlue;
  text-decoration: none;
}

.header-control{
  text-align: right;
  font-size: 20px;
}

.strict-link a{
  color: MediumBlue;
}
