@import "bookmarks";
@import "topics";

body{
  background-color: #FCFFF5;
}

h1{
  color: #3E606F;
}

hr{
  color: #193441;
  border-top: 3px double;
}

i{
  color: #193441;
}

a,
a:visited{
  color: #91AA9D;
  text-decoration: none;
}

.submit-button{
  background-color: inherit;
  color: #91AA9D;
  border-radius: 15px;

  a,
  a:visited {
    color: #91AA9D
  }
}

.url-box{
  font-size: 14px;
}

.header-control{
  color: #3E606F;
  text-align: right;
  font-size: 20px;

  a,
  a:visited{
    color: #3E606F;
  }
}
